
.temp-container{
	position: relative;
	margin: 0 auto;
	height: 100%;
	text-align:left;
}
.temp-indicator{
	position: absolute;
	height: 100%;
	width: 100%;
	background: url(img/temperature/stroke.png) no-repeat bottom left;  
	background-size: auto;
}
.temp-indicator .temp-full{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: url(img/temperature/full.png) no-repeat bottom left;
	background-size: auto;
}	
.temp-max{
	position: absolute;
	top: -5px;
	left: 35px;
}

table thead th.beername{
	width: 100%;
	text-align: center;
	vertical-align: middle;	
	padding: 5px;
}
table .name{
	text-align: left;
	vertical-align: middle;	
	padding: 5px;
}
table td.name{
	text-align: left;
	padding: 5px;
}
.poursbeername{
	width: 800px;
	text-align: center;
	vertical-align: middle;	
}
.poursbeerimg{
	width:50px ;
	height:auto;
}
.poursbreweryimg{
	width:50px ;
}
.poursdate{
	width: 310px;
	text-align: center;
	vertical-align: middle;	
}

.poursamount{
	width: 100px;
	text-align: center;
	vertical-align: middle;	
}
.poursuser{
	width: 200px;
	text-align: center;
	vertical-align: middle;	
}

.pourstap-num{
	width: 25px;
	text-align: center;
	vertical-align: middle;	
}
.beerimg{ 
	width:500px;
}
.breweryimg{ 
	width: 500px;
}
html, body {
	background-image: url(img/background.jpg);
	background-color: #000000;
	background-size: cover;
	background-repeat:no-repeat;
	overflow: hidden;
	color: #FFFFFF;
	font: 1em Georgia, arial, verdana, sans-serif;
	margin:5px;
	height:99%;
}
hr {
	border: 0;
	height: 1px;
	-webkit-margin-before: 2px;
	-webkit-margin-after: 2px;
	background-image: -webkit-linear-gradient(left, rgba(255,255,255,255), rgba(255,255,255,0.75), rgba(255,255,255,255)); 
	background-image:    -moz-linear-gradient(left, rgba(255,255,255,255), rgba(255,255,255,0.75), rgba(255,255,255,255)); 
	background-image:     -ms-linear-gradient(left, rgba(255,255,255,255), rgba(255,255,255,0.75), rgba(255,255,255,255)); 
	background-image:      -o-linear-gradient(left, rgba(255,255,255,255), rgba(255,255,255,0.75), rgba(255,255,255,255)); 
}
h1 {
	margin: 0;
	font: Georgia;
	color: #FFFFFF;
}
h2, h3, p {
	margin: 0;
	font: Georgia;
	color: #A0A0A0;
}
img {
	margin-left: auto;
	margin-right: auto;
}
.bodywrapper
{
	width: 101%;
	height: 99%;
	overflow: auto;
	
}
/* Header Styles */
.header {
	width: 100%;
	height: 100px;
	margin-bottom: 10px;
	display:table;
}
.HeaderLeft {
	width: 20%;
	height: 100px;
	display:table-cell;
	font: .85em Georgia;
	color: white;
	font-weight: bold;
	text-align: left;
}
.HeaderCenter {
	width: 60%;
	height: 50px;
	text-align: center;
	display:table-cell;
	font-size: 1em;
	font: 1em Georgia;
	color: white;
	vertical-align: middle;
	padding-top:25px;
}
.HeaderRight {
	width: 20%;
	display:table-cell;
	font: .85em Georgia;
	color: white;
	font-weight: bold;
	text-align: right;
}

.rating.small {
  height: 24px;
  width: 137px;
  display: inline-block;
  background: transparent url(img/ratings_small_v3.png) center center no-repeat; }
  
.altrow{
	background-color: rgba(153,153,153,.23);
}

.tap-num{
}
.ibu{
	width: 125px;
	text-align: center;
	vertical-align: middle;	
}
.cal{
	width: 125px;
	text-align: center;
	vertical-align: middle;
}
.abv{
	width: 75px;
	text-align: center;
	vertical-align: middle;
}
.keg{
	width: 150px;
	height: 75px;
	text-align: center;
	vertical-align: middle;	
}

.tap-num{
	vertical-align: middle;
}

.tapcircle {
  background-color: rgba(153,153,153,.3);
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  line-height: 33px;
  width: 33px; 
}
.bottlecircle {
  /* background-color: rgba(153,153,153,.3); */
  border-radius: 1em;
  border-style: dashed;
  border-color: rgba(200,200,200,0.75);
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  display: inline-block;
  font-weight: bold;
  line-height: 2em;
  margin-right: 5px;
  text-align: center;
  width: 2em; 
}
.srm{
	width: 125px;
	text-align: center;
	vertical-align: middle;
}
.srm-container{
	position: relative;
	height: 100px;
	width: 55px;
	margin: 0 auto;
}

.srm-indicator{
	position: absolute; 
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	
	-webkit-mask-image: url(img/srm/pint-mask.png);
	-o-mask-image: url(img/srm/pint-mask.png);
	mask: url(img/srm/pint-mask.svg#maskid);
}

.srm-stroke{
	position: absolute; 
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 2;
	
	background: url(img/srm/pint-stroke.png)
}


.ibu-container{
	position: relative;
	height:100px;
	width:53px;
	margin: 0 auto;
}
.ibu-indicator{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: url(img/ibu/stroke.png) no-repeat bottom left;
}
.ibu-indicator .ibu-full{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: url(img/ibu/full.png) no-repeat bottom left;
}	
.ibu-max{
	position: absolute;
	top: -5px;
	left: 35px;
}

.abv-container{
	position: relative;
	height: 100px;
	width: 115px;
	margin: 8px auto;
}	
.abv-indicator{
	display: inline-block;
	position: relative;
	height:100%;
	width:50%;
	background: url(img/abv/stroke.png) no-repeat bottom left;
}
.abv-indicator .abv-full{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: url(img/abv/full.png) no-repeat bottom left;
}
.abv-offthechart{
	position: absolute;
	bottom: -2px;
	left: 8px;
	height: 55px;
	width: 114px;
	background: url(img/abv/offthechart.png) no-repeat bottom left;	
}

.keg-container{
	position: relative;
	height: 100px;
	width: 67px;
	margin: 8px auto;
}

.keg-disabled{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: url(img/keg/disabled.png) no-repeat bottom right;	
}

.keg-enabled{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: url(img/keg/enabled.png) no-repeat bottom right;	
}

.keg-indicator{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: url(img/keg/stroke.png) no-repeat bottom left;	
}
.keg-indicator .keg-full{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: url(img/keg/full.png) no-repeat bottom left;
}
.keg-indicator .keg-empty{
	background-image: url(img/keg/empty.png);
}
.keg-indicator .keg-red{
	background-image: url(img/keg/red.png);
}
.keg-indicator .keg-orange{
	background-image: url(img/keg/orange.png);
}
.keg-indicator .keg-yellow{
	background-image: url(img/keg/yellow.png);
}
.keg-indicator .keg-green{
	background-image: url(img/keg/green.png);
}
.bottle-container{
	position: relative;
	height: 100px;
	width: 45px;
	margin: 8px auto;
.bottle-indicator{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: url(img/bottle/stroke.png) no-repeat bottom left;	
}
.bottle-indicator .bottle-full{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: url(img/bottle/green.png) no-repeat bottom left;
}
.bottle-indicator .bottle-empty{
	background-image: url(img/bottle/stroke.png);
}
.bottle-indicator .bottle-red{
	background-image: url(img/bottle/red.png);
}
.bottle-indicator .bottle-orange{
	background-image: url(img/bottle/orange.png);
}
.bottle-indicator .bottle-yellow{
	background-image: url(img/bottle/yellow.png);
}
.bottle-indicator .bottle-green{
	background-image: url(img/bottle/green.png);
}

.copyright {
color:#666 ;
font-size: 12px;
align: right;

}

.beerfeed {
color: #ccc;
font-size: 12px;

}


table{
	width: 100%;
	border-collapse: collapse;
}
table th,
table td{
	border-left: 1px white dashed;
	padding: 1px 5px;
	text-align: center;
	vertical-align: top;
	color: white;
}
table th:first-child,
table td:first-child{
	border-left: none;
}
table thead{
	background-color: rgba(153,153,153,.3);
	padding: 0px;
	margin: auto;
}
table thead th{
	min-height:35px;
	font: .65em Georgia;
	color: white;
	font-weight: bold;
	vertical-align: top;
}
table h3 {
	font: .8em Georgia;
	-webkit-margin-before: 5px;
	-webkit-margin-after: 5px;
	text-align: center;
}
table h2 {
	font: 1em Georgia;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	text-align: center;
}
table h1{
	color: white;
	opacity:1;
	display:block;
	font: 1em Georgia;
	font-weight: bold;
}
table .subhead{
	width:100%;
	font: .9em Georgia;
	text-align:left;
}
p.rating .num {
display: inline-block;
padding-top: 4px;
position: relative;
top: -24px;
}
  
p.rating {
	width:40%;
	padding: 0px 0 0px;
	display: inline-block;
	color: #ccc;
	text-align: center;
	font-size: 12px;
	margin: 0px;
}

table p{
	font: .8em Georgia;
	color: #A0A0A0;
	margin-top:20px; 
}
