body {
	background-image: url('img/background.jpg');
	background-color: #000000;
	background-size: cover;
	background-repeat:no-repeat;
	overflow: hidden;
	font: 1.5em Gerorgia, arial, verdana, sans-serif;
	margin:5px;
}

hr {
    border: 0;
    height: 1px;
	-webkit-margin-before: 2px;
	-webkit-margin-after: 2px;
	margin-left: 10px;
	margin-right: 10px;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,255), rgba(255,255,255,0.75), rgba(255,255,255,255)); 
    background-image:    -moz-linear-gradient(left, rgba(255,255,255,255), rgba(255,255,255,0.75), rgba(255,255,255,255)); 
    background-image:     -ms-linear-gradient(left, rgba(255,255,255,255), rgba(255,255,255,0.75), rgba(255,255,255,255)); 
    background-image:      -o-linear-gradient(left, rgba(255,255,255,255), rgba(255,255,255,0.75), rgba(255,255,255,255)); 
}

h1{
	margin: 0;
	font: Georgia;
	color: #FFFFFF;

}
h2, h3, p {
	margin: 0;
	font: Georgia;
	color: #A0A0A0;

}
img {
	margin-left: auto;
	margin-right: auto;

}

.bodywrapper
{
	width:100%;
	height:100%;
}

/* Header Styles */
.header {
	width: 100%;
	height:100px;
	margin-bottom:10px;
}
.HeaderLeft {
	width: 25%;
	height:100px;
	float: left;
	font: .85em Georgia;
	color: white;
	font-weight: bold;
	text-align: left;
}
.HeaderCenter {
	width:50%;
	height:100px;
	text-align:center;
	float: left;
	font-size: 1em;
	font: 1em Georgia;
	color: white;
}

.HeaderRight {
	width:25%;
	float: right;
	font: .85em Georgia;
	color: white;
	font-weight: bold;
	text-align: right;
}

/* Title Bar and Beer Bar Styles */
.TitleBarWrapper{
	width:98%;
	height:60px;
	background-color: rgba(153,153,153,.3);
	margin-bottom:10px;
	padding-top: 3px;
}

.TitleBarWrapper div{
	height:55px;
	font: .65em arial, verdana, sans-serif;
	color: white;
	text-align: center;
	font-weight: bold;
	font-style:italic;
	float: left;
	
}

.TitleBarSRM, .SRMcolumn, .TAPcolumn, .TitleBarTAP{
	min-height:100%;
	height:auto !important;
	height:100%;
	width: 8%;
	text-align:center;

}

.TitleBarIBU, .IBUcolumn{
	min-height:46px;
	height:auto !important;
	height:46px;
	width: 14%;
	text-align:center;
}
.TitleBarBeerName, .BeerNameColumn{
	min-height:46px;
	height:auto !important;
	height:46px;
	width: 44%;
}
.TitleBarABV, .ABVcolumn, .KCALnumber{
	min-height:46px;
	height:auto !important;
	height:46px;
	width: 14%;
	text-align:center;
}
.TitleBarKeg, .KegColumn{
	min-height:46px;
	height:auto !important;
	height:46px;
	width: 15%;
	text-align:center;
}

.TitleBarIBU, .IBUcolumn, .TitleBarABV, .ABVcolumn{
	border-left: 1px white dashed;
	border-right: 1px white dashed;
}

.TitleBarSRM, .SRMcolumn {
	border-left: 1px white dashed;
}

.TapNum {
text-align: center;
float: left;
height: 50px; 
width:50px;
}

span.tapcircle {
  background: #cccccc;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em; 
}

/* Indivual Row Styles for Beers */
.BeerWrapper{
	width:98%;
	min-height:95px;
	height:auto !important;
	height:95px;
	background-color: rgba(153,153,153,.3);
}

.BeerWrapper div{
	min-height:50px;
	height:auto !important;
	height:50px;
	color: white;
	float: left;
}

.BeerWrapper div h3{
	font: .8em Georgia;
	-webkit-margin-before: 5px;
	-webkit-margin-after: 5px;
	text-align:center;
}

.BeerWrapper div h2{
	font: 1em Georgia;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	text-align:center;
}

.BeerWrapper div img
{
	margin: 10px 0 10px 0;
}

.Details
{
	width:96%;
	height:96%;
	margin:2%;
	text-align: left;
}


.Details h1{
	color: white;
	opacity:1;
	display:block;
	font: 1.5em Georgia;
	font-weight: bold;
}
.Details .subhead{
	width:100%;
	font: .9em Georgia;
	text-align:left;
}
.Details p{
	font: .8em Georgia;
	color: #A0A0A0;
	margin-top:20px;
}

.row-1st {
	width: 1062px;
	height: 175px;
	position: relative;
	top: -50px;
}
.row-odd {
	width: 1062px;
	height: 175px;
}
.row-even {
	position: relative;
	width: 1062px;
	height: 175px;
}
.row-even-a {
	position: absolute;
	width: 1062px;
	height: 175px;
	z-index: 2;
}
.Shading {
	position: absolute;
	width: 1062px;
	height: 175px;
	background: gray;
	opacity:0.4;
	z-index: 1;
}
.clear {
	clear: both;
}

.altrow{
	background:none;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/*EVERYTHING BELOW THIS LINE IS FOR DESIGN AND DEBUG PURPOSES ONLY */
/* THESE ENTRIES WILL BE REMOVED IN THE PRODUCTION VERSION */

/*

.SRMimage {
	border-top: 1px white dashed;
	border-bottom: 1px white dashed;
	border-color: red
}
.IBUimage {
	border-top: 1px white dashed;
	border-bottom: 1px white dashed;
	border-color: red
}
.BeerStyle {
	border-top: 1px white dashed;
	border-bottom: 1px white dashed;
	border-color: red
}
.ABVimage {
	border-top: 1px white dashed;
	border-bottom: 1px white dashed;
	border-color: red
	}
.KegImage {
	border-top: 1px white dashed;
	border-bottom: 1px white dashed;
	border-color: red
	}
	*/
	
