body {
	background-image: url(img/background.jpg);
	background-color: #000000;
	background-size: cover;
	background-repeat:no-repeat;
	overflow: hidden;
	font: 1.5em Gerorgia, arial, verdana, sans-serif;
	margin:5px;
}

hr {
    border: 0;
    height: 1px;
	-webkit-margin-before: 2px;
	-webkit-margin-after: 2px;
	margin-left: 10px;
	margin-right: 10px;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,255), rgba(255,255,255,0.75), rgba(255,255,255,255)); 
    background-image:    -moz-linear-gradient(left, rgba(255,255,255,255), rgba(255,255,255,0.75), rgba(255,255,255,255)); 
    background-image:     -ms-linear-gradient(left, rgba(255,255,255,255), rgba(255,255,255,0.75), rgba(255,255,255,255)); 
    background-image:      -o-linear-gradient(left, rgba(255,255,255,255), rgba(255,255,255,0.75), rgba(255,255,255,255)); 
}

h1{
	margin: 0;
	font: Georgia;
	color: #FFFFFF;

}
h2, h3, p {
	margin: 0;
	font: Georgia;
	color: #A0A0A0;

}
img {
	margin-left: auto;
	margin-right: auto;

}

.bodywrapper
{
	width:100%;
	height:100%;
}

/* Header Styles */
.header {
	width: 100%;
	height:100px;
	margin-bottom:10px;
}
.HeaderLeft {
	width: 25%;
	height:100px;
	float: left;
	font: .85em Georgia;
	color: white;
	font-weight: bold;
	text-align: left;
}
.HeaderCenter {
	width:50%;
	height:100px;
	text-align:center;
	float: left;
	font-size: 1em;
	font: 1em Georgia;
	color: white;
}

.HeaderRight {
	width:25%;
	float: right;
	font: .85em Georgia;
	color: white;
	font-weight: bold;
	text-align: right;
}

table{
	width: 100%;
	border-collapse:collapse;
}

table th,
table td{
	border-left: 1px white dashed;
	padding:5px 10px;
	text-align: center;
	color: white;
}

table th:first-child,
table td:first-child{
	border-left: none;
}

table thead{
	height:60px;
	background-color: rgba(153,153,153,.3);
	padding-top: 3px;
}

table thead th{
	height:55px;
	font: .65em arial, verdana, sans-serif;
	color: white;
	font-weight: bold;
	font-style:italic;
	vertical-align: top;
}




table .tap-num{
	width: 75px;
}

table .srm{
	width: 150px;
}

table .ibu{
	width: 150px;
}

table .name{
	text-align: left;
}
table .abv{
	width: 150px;
}
table .keg{
	width: 150px;
}

span.tapcircle {
  background: #cccccc;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em; 
}


table h3{
	font: .8em Georgia;
	-webkit-margin-before: 5px;
	-webkit-margin-after: 5px;
	text-align:center;
}

table h2{
	font: 1em Georgia;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	text-align:center;
}

table h1{
	color: white;
	opacity:1;
	display:block;
	font: 1.5em Georgia;
	font-weight: bold;
}
table .subhead{
	width:100%;
	font: .9em Georgia;
	text-align:left;
}
table p{
	font: .8em Georgia;
	color: #A0A0A0;
	margin-top:20px;
}



.altrow{
	background-color: rgba(153,153,153,.3);
}

.ibu-container{
	position: relative;
	height: 100px;
	width: 125px;
	margin:8px 0 8px 50%;
	left: -65px
}

.ibu-indicator{
	position: relative;
	height:29px;
	width:23px;
	background: url(img/ibu-new/empty.png) no-repeat bottom left;
}
.ibu-indicator .ibu-full{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: url(img/ibu-new/full.png) no-repeat bottom left;
}

.ibu-indicator.ibu-element{
	position: absolute;
}
.ibu-indicator.ibu-element-0{
	top: 5px;
	left: 35px;
}
.ibu-indicator.ibu-element-1{
	top: 5px;
	left: 55px;
}
.ibu-indicator.ibu-element-2{
	top: 5px;
	left: 75px;
}	
.ibu-indicator.ibu-element-3{	
	top: 32px;
	left: 25px;
}
.ibu-indicator.ibu-element-4{	
	top: 32px;
	left: 45px;
}
.ibu-indicator.ibu-element-5{	
	top: 32px;
	left: 65px;
}
.ibu-indicator.ibu-element-6{	
	top: 32px;
	left: 85px;
}
.ibu-indicator.ibu-element-7{
	top: 59px;
	left: 35px;
}
.ibu-indicator.ibu-element-8{
	top: 59px;
	left: 55px;
}
.ibu-indicator.ibu-element-9{
	top: 59px;
	left: 75px;
}	

.ibu-max{
	position: absolute;
	top: -5px;
	left: 35px;
}
	
.abv-container{
	position: relative;
	height: 100px;
	width: 125px;
	margin: 8px 0 8px 50%;
	left: -65px;
}	
	
.abv-indicator{
	display: inline-block;
	position: relative;
	height:100px;
	width:55px;
	background: url(img/abv-new/empty.png) no-repeat bottom left;
	margin: 2px;
}

.abv-indicator .abv-full{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: url(img/abv-new/full.png) no-repeat bottom left;
}

.abv-max{
	position: absolute;
	bottom: -2px;
	left: 8px;
}
	
.KegImage{
	height: 100px;
	padding: 5px 0 10px;
}	
	
.keg-indicator{
	display: inline-block;

	position: relative;
	height:100px;
	width:67px;
	background: url(img/keg-new/empty.png) no-repeat bottom left;	
}

.keg-indicator .keg-full{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: url(img/keg-new/full-green.png) no-repeat bottom left;
}

.keg-indicator .keg-red{
	background-image: url(img/keg-new/full-red.png);
}

.keg-indicator .keg-orange{
	background-image: url(img/keg-new/full-orange.png);
}

.keg-indicator .keg-yellow{
	background-image: url(img/keg-new/full-yellow.png);
}

.keg-indicator .keg-green{
	background-image: url(img/keg-new/full-green.png);
}
	
