body {background: #000000}

	#logincontainer {
		width: 385px;  
		margin: 0 auto;
		margin-top: 90px;
	}
		
		#loginbox {
			border-radius: 20px; 
			-moz-border-radius: 20px; 
			background: #000 url(/img/admin/bg_login_box.png) repeat-x top; 
			border-bottom: 1px solid #000000;
		}

			#loginheader {
				text-align: center; 
				padding: 15px 0; 
				background: url(/img/admin/bg_login_header.png) repeat-x bottom; 
				border-bottom: 1px solid #424242; 
				border-top-left-radius: 20px; 
				border-top-right-radius: 20px; 
				-moz-border-radius-topright: 20px; 
				-moz-border-radius-topleft: 20px;

				color: #2DABD5;
			}
		
		#innerlogin {
			width: 260px;
			margin: 0 auto;
			text-align: center;
			padding: 15px 20px 30px 20px;
		}

			input {
				width: 240px; 
				padding: 17px 10px; 
				border: 1px solid #fff; 
				font-size: 15px;
				margin: 10px 0;
			}

